:root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    --color-white: #FEFEFE;
    --color-primary-dark: #3a2f43;
    --color-primary: #048873;
    --color-primary-light: #9dd3cc;
    --color-accent: #58c8b4;
    --color-danger: #DE4F2D;
    --color-success: #FCA601;
}


/*--color-white: #FEFEFE;*/
/*--color-primary-dark: #47026c;*/
/*--color-primary: #7161EF;*/
/*--color-primary-light: #DEC0F1;*/
/*--color-accent: #B043C6;*/
/*--color-danger: #DE4F2D;*/
/*--color-success: #FCA601;*/

a {
  font-weight: 500;
  color: var(--color-primary-light);
  text-decoration: inherit;
}
a:hover {
  color:var(--color-accent);;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(
          135deg,
          var(--color-accent) 0%,
          var(--color-primary-light) 100%
  );
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 2px solid var(--color-accent);
  padding: 0.7em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--color-primary-dark);
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
  max-height: max-content;
}
button:hover {
  border-color: #646cff;
  transform: scale(1.15);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  --color-white: #000000;
  --color-primary-dark: #0D033B;
  --color-primary: #0329BE;
  --color-primary-light: #9CD6FF;
  --color-accent: #B043C6;
  --color-danger: #DE4F2D;
  --color-success: #FCA601;
}
